<a href="https://colab.research.google.com/github/dev-bhaveshye/Machine-Learning/blob/main/OneHotEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/melb_data.csv.zip')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [ ]:
df['Regionname'].value_counts()

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

In [ ]:
!pip install scikit_learn

Requirement already satisfied: scikit_learn in /usr/local/lib/python3.10/dist-packages (1.6.0)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit_learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit_learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit_learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit_learn) (3.5.0)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
old=ohe.fit_transform(df[['Regionname']]).toarray()
old

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [ ]:
new=df[['Suburb',	'Address',	'Rooms']]
new.values

array([['Abbotsford', '85 Turner St', 2],
       ['Abbotsford', '25 Bloomburg St', 2],
       ['Abbotsford', '5 Charles St', 3],
       ...,
       ['Williamstown', '83 Power St', 3],
       ['Williamstown', '96 Verdon St', 4],
       ['Yarraville', '6 Agnes St', 4]], dtype=object)

In [ ]:
df1=np.hstack(([new.values,old]))
pd.DataFrame(df1)

,0,1,2,3,4,5,6,7,8,9,10
0,Abbotsford,85 Turner St,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,Abbotsford,25 Bloomburg St,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Abbotsford,5 Charles St,3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,Abbotsford,40 Federation La,3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,Abbotsford,55a Park St,4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13576,Williamstown,77 Merrett Dr,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13577,Williamstown,83 Power St,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13578,Williamstown,96 Verdon St,4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13579,Yarraville,6 Agnes St,4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
counts=df['Suburb'].value_counts()
counts

Suburb
Reservoir         359
Richmond          260
Bentleigh East    249
Preston           239
Brunswick         222
                 ...
Sandhurst           1
Bullengarook        1
Croydon South       1
Montrose            1
Monbulk             1
Name: count, Length: 314, dtype: int64

In [ ]:
threshold=100
repl=counts[counts<=threshold].index
onehotencoded=pd.get_dummies(df['Suburb'].replace(repl,'uncommon'))
onehotencoded.astype(np.int32).sample(10)

,Ascot Vale,Balwyn,Balwyn North,Bentleigh,Bentleigh East,Brighton,Brighton East,Brunswick,Brunswick West,Camberwell,...,Richmond,South Yarra,St Kilda,Sunshine,Surrey Hills,Thornbury,West Footscray,Williamstown,Yarraville,uncommon
2981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
990,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12483,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7512,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6633,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5210,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0